html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("../resources/forestBG.jpg");
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    padding-left: 12px;
    padding-top: 4px;
    width: 100%;
    height: 100%;
    text-align: center;
    
    /* fade in animation upon homepage loading from https://www.geeksforgeeks.org/ */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.parent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* glass morphism code from https://hype4.academy/tools/glassmorphism-generator */
.child1 {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba(41, 41, 41, 0.37);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );   
    width: 80%;
    height: 75%;
    position: absolute;
    justify-content: center;
    top: 5%;
    z-index: 1; /* Lower than buttonContainer */
}

.child2 {
    background: rgba(22, 64, 18, 0.4);
    box-shadow: 0 8px 32px 0 rgba(41, 41, 41, 0.37);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );   
    width: 80%;
    height: 10%;
    position: absolute;
    bottom: 5%;
}

#content {
    position: absolute;
}

h1 {
    color:rgb(7, 65, 30);
    font-size: 48px;
    text-shadow: -1px 0 5px #ffffff85, 0 1px 5px #ffffff85, 1px 0 5px #ffffff85;
    max-width: 850px;
    margin-top: 75px;
    left: 50%;
    text-align: center;
}

#h1TextDiv {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}

#soundClick {
    color: rgb(181, 196, 186);
    text-shadow: -1px 0 5px #ffffff35, 0 1px 5px #ffffff35, 1px 0 5px #ffffff35;
    padding: 10px 0;
}

#click2Cont {
    color: rgb(7, 65, 30);
    position: relative;
    margin: auto;
}

#click2ContDiv {
    bottom: 0;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.button {
    background-color: rgb(54, 98, 68);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    padding: 0;
    margin: 50px;
    margin-top: 200px;
    color: rgb(255, 255, 255);
    transition-duration: 0.4s;
    cursor: pointer;
}

.gbutton{
    background-color: rgb(54, 98, 68);
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 50px;
    color: rgb(255, 255, 255);
    transition-duration: 0.4s;
    cursor: pointer;
}

.gbutton:hover, .button:hover {
    background-color: #ffffff; /* Green */
    color: rgb(54, 98, 68);
}

#buttonContainer {
    position: relative; /* Ensure the z-index works */
    z-index: 115; /* Higher than child1 */
  }

#buttonToHome {
    margin-top: 300px;
    cursor: pointer;
}

#lisbutton{
    /* margin-bottom: 250px; */
    margin-top: 0;
    z-index: 120;
    cursor: pointer;
}

.parent > #blob {
    position: relative;
    background-position-y: top;
    z-index: 10; /* Higher than buttonContainer and child1 */
}

.blobName {
    display: block;
    position: relative;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(54, 98, 68);
    margin: auto;
    margin-bottom: 0;
    padding-top: 50px;
    width: 40%;
    z-index: 1000;
    text-align: center;
}

#blob {
    z-index: 4;
}

#content {
    width: 100%;
    bottom: 70px;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    position: absolute;
    z-index: 200;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(54, 98, 68);
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(54, 98, 68);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(54, 98, 68);
}

.note {
    height: 250px;
    width: 50%;
    background-color: #784b13;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 50%;
}

.message {
    text-align: left;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* css from session 06 practice */
.keys {
    display: block;
    width: 100%;
    height: 250px;
    max-width: 880px;
    position: relative;
    margin: 40px auto 0;
    cursor: none;
    z-index: 100;
}

.key {
    position: relative;
    border: 4px solid black;
    border-radius: .5rem;
    
    display: inline-block;
    box-sizing: border-box;
    z-index: 101;
}

.key:not(.sharp) {
    float: left;
    width: 10%;
    height: 100%;
    background: rgba(255, 255, 255, .8);    
}

.key.sharp {
    position: absolute;
    width: 6%;
    height: 60%;
    background: #000;
    color: #eee;
    top: 0;
    z-index: 102;
}

.key[data-key="87"] {
    left: 7%;
}

.key[data-key="69"] {
    left: 17%;
}

.key[data-key="84"]  {
    left: 37%;
}

.key[data-key="89"] {
    left: 47%;
}

.key[data-key="85"] {
    left: 57%;    
}

.key[data-key="79"] {
    left: 77%;    
}

.key[data-key="80"] {
    left: 87%;    
}

.kbKey {
    display: block;
    width: 100%;
    color: #838383;
    opacity: 1;
    position: absolute;
    bottom: 7px;
    font-size: 20px;
}

#mainPiano {
    width: 60%;
    height: 35%;
    margin: auto;
    display: none;
}

#scoreText {
    font-size: 48px;
    color: rgb(0, 0, 0);
    opacity: 0.5;
}