body, html{
  height: 100%;
  width: 100%;
}

body
{
	padding: 10px;
	width: 90%;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 30px;
	color:#230d46;
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 20px;
}

#contactForm
{
	background-color: #b97f7c;
	color:#230d46;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 530px;
	border: 0;
	padding: auto;
	border-radius: 5px;
}

#formText
{
	float: right;
	margin-right: 25px;
}

#introText
{
	color: #2b134f;
	font-size: 12px;
	margin: 5px 20px 0px 20px;
}

#asterisk
{
	color:#f9dcc5;
}

#msg
{
	width: 590px;
	height: 120px;
	color: #2b134f80;
	font-family: arial;
	font-size: 12px;
	font-style: italic;
	text-indent: 5px;
	border: 0;
	background-color: #e1c5b0;
	border-radius: 2px;
	padding-top: 5px;
	margin-top: 2px;
}

#box
{
	width: 280px;
	height: 24px;
	color:#2b134f80;
	font-size: 12px;
	font-style: italic;
	text-indent: 5px;
	border: 0;
	background-color: #e1c5b0;
	border-radius: 2px;
	margin-top: 2px;
}

#enquiry
{
	width: 284px;
	height: 25px;
	font-size: 12px;
	color: #230d46;
	border: 0;
	background-color: #e1c5b0;
	border-radius: 2px;
	margin-top: 2px;
}

#smallText
{
	color: #230d46;
	font-size: 12px;
	margin: 5px 20px 0px 20px;
}

#submit
{
	width: 100px;
	height: 30px;
	border-radius: 15px;
	border: 0;
	background-color: #230d46;
	color: #e1c5b0;
	font-size: 18px;
	float: right;
}

p
{
	color: #230d46;
	font-size: 14px;
	margin-left: 20px;
	margin-bottom: 5px;
}

img 
{
	object-fit: cover;
	width: 300px;
	height: 530px;
	opacity: 70%;
	border-radius: 5px 0 0 5px;
}